<h3>Permissions:</h3>
<ul>
<% @ret[:extra][:permissions].each do |permission| %>
  <li>
  <%= Role.find(permission.role_id).name %>
  <%= link_to 'Delete', :controller => 'users', :action => :destroy_permission, :id => cur_id_helper, :permission_id => permission.id %>
  </li>
<% end %>
<p><%= link_to 'Add permission', :controller => 'users', :action => :new_permission, :id => cur_id_helper %></p>
</ul>

<p><%= link_to 'Delete this user', current_path(cur_id_helper), :method => :delete %></p>
