<h2>List of roles</h2>

<ul>
<% @roles.each do |role| %>
  <li>
  <%= link_to role.name, role_path(role) %>
  <%= link_to 'Edit', edit_role_path(role) %>
  <%= link_to 'Delete', role_path(role), :method => :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'New role', new_role_path %>
